<angular-kit-effect/>

<button (click)="id$.next(random())"> next id</button>
<button (click)="name$.next('Hi ' + random())"> next name</button>
<demo-onchanges [name]="(name$ | async)!"  [value]="(id$ | async)!"></demo-onchanges>
<br>
<hr>
<button (click)="completeSignal$$.next(1)">complete</button>
<button (click)="refreshCommand$.next(1)">refresh</button>
<ng-container
  *stream="
    complete$;
    let v;
    let error = error;
    let complete = completed;
    errorTemplate: errorTemplate;
    completeTemplate: completeTemplate

  "
>
  Complete {{ complete }} Value: {{ v | json }}
</ng-container>

<!--<ng-container *subscribe="source$ as foo">
  {{ foo }}
</ng-container>


<ng-container *subscribe="error$; let v; let error=error">
  <div>
    Value: {{ v | json }}
    Error: {{ error }}
  </div>

</ng-container>-->
<br />
<hr />
<button (click)="nextPost.next(1)">reload</button>
<button (click)="sourceProvider.provideRefreshSource()">refresh source</button>
<button (click)="sourceProvider.provideErrorSource()">error source</button>

<ng-container
  *stream="
    rxRequest$;
    let v;
    let error = error;
    let complete = completed;
    let loading = loading;
    refreshSignal: nextPost;
    loadingTemplate: loadingTemplate;
    errorTemplate: errorTemplate;
    completeTemplate: completeTemplate;
    keepValueOnLoading: true
    renderCallback: render$$
  "
>
  Complete {{ complete }}
  <br />
  Error {{ error }}
  <br />
  Loading {{ loading }}
  <br />
  {{ v | json }}
</ng-container>
<ng-template #loadingTemplate let-loading="loading">
  <div>Loading...</div>
  Loading {{ loading }}
</ng-template>
<ng-template #errorTemplate let-error="error">
  <div>ERROR...</div>
  Error {{ error }}
</ng-template>

<ng-template #completeTemplate let-completed="completed">
  <div>COMPLETE...</div>
  completed {{ completed }}
</ng-template>

<br /><br /><br /><br /><br /><br />

<angular-kit-stream-vs-async></angular-kit-stream-vs-async>

<div class="space" rxObserveResize ></div>

<div class="resizable" *rxRenderInViewport="'0px'"></div>

<div class="resizable" rxObserveVisibility  (intersectStatusChange)="onResize($event)"></div>
